*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.background-header{
    background-color: #2c3e50;
    height: 50px;
}

.background-red{
    height: 50px;
    background-color: red;
    border: 1px solid black;
}
/* END HEADER */
/* MAIN */
.background-green{
    background-color: #1abc9c;
    height: 340px;
}

.background-yellow{
    background-color: yellow;
    height: 300px;
    margin: 20px;
}

.background-white{
    height: 1500px;
}

.background-orange{
    background-color: orange;
    height: 100px;
    margin-top: 30px;
}

.background-blue{
    background-color: blue;
    height: 200px;
    margin-bottom: 20px;
}

.background-4{
    background-color: #1abc9c;
    height: 340px;
}

.background-black{
    background-color: black;
    height: 300px;
    margin-top: 20px;
}

.background-5{
    background-color: white;
    height: 320px;
}

.background-brown{
    background-color: brown;
    height: 280px;
    margin-top: 20px;
}
/* END MAIN */
/* FOOTER */
.background-6{
    background-color: #3a546d;
    height: 250px;
}

.background-grey{
    background-color: grey;
    height: 220px;
    margin-top: 20px;
}

.background-7{
    background-color: #2c3e50;
    height: 90px;
}

.background-gold{
    background-color: gold;
    height: 60px;
    margin-top: 20px;
}
/* END FOOTER */