*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.background-header{
    background-color: #2c3e50;
    width: 100%;
    z-index: 1;
}

.font-size a, .my-size a{
    color: white;
}

.font-size a{
    font-size: 18px;
}

.my-size a{
    font-size: 14px;
}
/* END HEADER */
/* MAIN */
/* JUMBOTRON */
#jumbotron{
    background-color: #1abc9c;
    margin-top: 30px;
}

.content-big{
    height: 380px;
    margin: 10px 0;
    position: relative;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-big img{
    width: 150px;
    margin: 0 110px 10px;
}

.content-big h1{
    color: white;
    text-align: center;
}

.content-big hr, .content-big i{
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.content-big hr{
    width: 100px;
    border: 2px solid white;
    opacity: 1;
    border-radius: 10px;
}

.margin-left{
    margin-left: 60px;
}

.content-big h4{
    font-size: 14px;
    color: white;
    text-align: center;
}
/* END JUMBOTRON */
/* BACKGROUND-2 */
#background-2{
    background-color: white;
    margin: 10px 0;
}

.content-orange{
    height: 100px;
    margin: 40px 0 0;
}

.content-orange h2{
    font-size: 27px;
    text-align: center;
}

.content-orange hr, .content-orange i{
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

.content-orange hr{
    width: 100px;
    border: 2px solid black;
    opacity: 1;
    border-radius: 10px;
}

.content-blue{
    margin: 10px 0px;
}

img{
    width: 100%;
    height: 200px;
    background-size: cover;
}
/* END BACKGROUND-2 */
/* BACKGROUND-3 */
#background-3{
    background-color: #1abc9c;
    margin: 10px 0;
}

.content-black{
    height: 100px;
    margin: 10px 0;
    position: relative;
}

.content-black h2{
    font-size: 23px;
    color: white;
    text-align: center;
}

.line-star{
    text-align: center;
  }

.content-black hr, .content-black i{
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.content-black hr{
    width: 100px;
    border: 2px solid white;
    opacity: 1;
    border-radius: 10px;
}

.position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-pink{
    height: 80px;
    margin: 10px 0 100px;
}

.content-pink p{
    font-size: 14px;
    color: white;
}

.color{
    color: white;
    border: 1px solid white;
}

.color:hover{
    color: white;
    border: 1px solid white;
}

.color span, .color .fa-download{
    vertical-align: middle;
}

.fa-download{
    font-size: 15px;
}
/* END BACKGROUND-3 */
/* BACKGROUND-4 */
#background-4{
    background-color: white;
    margin: 10px 0;
}

.content-purple{
    height: 100px;
    margin: 10px 0;
    position: relative;
}

.content-purple h2{
    text-align: center;
}

.content-purple hr, .content-purple i{
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.content-purple hr{
    width: 100px;
    border: 2px solid black;
    opacity: 1;
    border-radius: 10px;
}

.content-goldenrod{
    height: 300px;
    margin: 10px 0;
}

input, textarea{
    background-color: transparent;
    border:1px solid rgb(119, 118, 118);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: rgb(51, 51, 51);
}

textarea::placeholder{
    color: rgb(51, 51, 51);
}

textarea{
    height: 130px;
}
/* END BACKGROUND-4 */
/* END MAIN */
/* FOOTER */
/* TOP-FOOTER */
.top-footer{
    background-color: #3a546d;
}

.green{
    background-color: #1abc9c;
    color: white;
}

.green:hover{
    background-color: #1abc9c;
    color: white;
}

.content-goldenrod button{
    margin: 10px 0 0;
}

.content-grey{
    height: 100px;
    margin: 5px 0;
}

.icons{
    text-align: center;
}

.fa-facebook-f, .fa-google-plus-g, .fa-twitter, .fa-linkedin-in{
    border: 1px solid white;
    border-radius: 50%;
    font-size: 18px;
    font-size: 13px;
    margin-left: 7px;
}

.fa-facebook-f{
    padding: 10px 12px;
}

.fa-google-plus-g{
    padding: 10px 8px;
}

.fa-twitter, .fa-linkedin-in{
    padding: 10px;
}

.content-grey h4, .content-grey p, .content-grey i{
    color: white;
    text-align: center;
}

.content-grey h4{
    font-size: 18px;
    margin: 20px 0 10px;
}

.content-grey p{
    font-size: 12px;
}

.content-grey span{
    color: #1abc9c;
}

.bottom-footer{
    background-color: #2c3e50;
}
/* END TOP-FOOTER */
/* BOTTOM-FOOTER */
.content-gold{
    height: 60px;
    margin: 10px 0;
    position: relative;
}

.content-gold div{
    font-size: 10px;
    color: white;
}


.copy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* END BOTTOM-FOOTER */
/* END FOOTER */