*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.background-header{
    background-color: #2c3e50;
    width: 100%;
    z-index: 1;
}

.font-size a, .my-size a{
    color: white;
}

.font-size a{
    font-size: 18px;
}

.my-size a{
    font-size: 14px;
}
/* END HEADER */
/* MAIN */
#jumbotron{
    background-color: #1abc9c;
    margin-top: 30px;
}

.content-big{
    height: 380px;
    margin: 10px 0;
    position: relative;
}

.center, .position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-big img{
    width: 150px;
    margin: 0 110px 10px;
}

.content-big h1{
    color: white;
    text-align: center;
}

.content-big hr, .content-big i{
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.content-big hr{
    width: 100px;
    border: 2px solid white;
    opacity: 1;
    border-radius: 10px;
}

#margin-left{
    margin-left: 60px;
}

.content-big h4{
    font-size: 14px;
    color: white;
    text-align: center;
}

#background-2{
    background-color: white;
    margin: 10px 0;
}

.content-orange{
    height: 50px;
    margin: 40px 0 0;
    position: relative;
}

.content-orange h2{
    font-size: 27px;
    text-align: center;
}

.content-orange hr, .content-orange i{
    display: inline-block;
    vertical-align: middle;
}

.content-orange hr{
    width: 100px;
    border: 2px solid black;
    opacity: 1;
}

.content-blue{
    margin: 10px 0px;
}

img{
    width: 100%;
    height: 200px;
    background-size: cover;
}

#background-3{
    background-color: #1abc9c;
    margin: 10px 0;
}

.content-black{
    height: 80px;
    margin: 10px 0;
    position: relative;
}

.content-black h2{
    font-size: 23px;
    color: white;
    text-align: center;
}

.content-black hr, .content-black i{
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.content-black hr{
    width: 100px;
    border: 2px solid white;
    opacity: 1;
    border-radius: 10px;
}

.content-pink{
    height: 80px;
    margin: 10px 0;
}

.content-pink p{
    font-size: 14px;
    color: white;
}

.content-pink #paragraph{
    margin-left: 150px;
}

.color{
    color: white;
    border: 1px solid white;
}

.color:hover{
    color: white;
    border: 1px solid white;
}

.color span, .color .fa-download{
    vertical-align: middle;
}

.fa-download{
    font-size: 15px;
}

#background-4{
    background-color: white;
    margin: 10px 0;
}

.content-purple{
    height: 100px;
    background-color: purple;
    margin: 10px 0;
}

.content-goldenrod{
    height: 300px;
    background-color: goldenrod;
    margin: 10px 0;
}
/* END MAIN */
/* FOOTER */
.top-footer{
    background-color: #3a546d;
}

.content-grey{
    background-color: grey;
    height: 220px;
    margin: 10px 0;
}

.bottom-footer{
    background-color: #2c3e50;
}

.content-gold{
    background-color: gold;
    height: 60px;
    margin: 10px 0;
}
/* END FOOTER */